@font-face{
	font-family:"Damion";
	src:url("../fonts/Damion.eot") format("eot"),
	url("../fonts/Damion.woff") format("woff"),
	url("../fonts/Damion.ttf") format("truetype"),
	url("../fonts/Damion.svg#Damion") format("svg");
}
@font-face{
	font-family:"lato";
	src:url("../fonts/lato.eot") format("eot"),
	url("../fonts/lato.woff") format("woff"),
	url("../fonts/lato.ttf") format("truetype"),
	url("../fonts/lato.svg#lato") format("svg");
}